<html>
    <body>
        <p>Hello {{ name }}</p>
        <h1>Members</h1>
        <ul>
            {% for user in names %}
                <li>Hello {{ user }}</li>
            {% endfor %}
        </ul>
     </body>
</html>